.App {
    text-align: center;
}

.SectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.APIContainer {
    background-color: whitesmoke;
    height: 200px;
    width: 35%;
    margin: 30px;
    border-radius: 20px;
    justify-content: center;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: center;
}

.horizontalContainer > h6 {
    margin-right: 5px;
}

.APIContainer > h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.kanyeName {
    font-weight: bold;
}

.Quote {
    margin: 20px;
}

.pricesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currencyLine {
    display: flex;
    flex-direction: row;
}

.currencyLine > p {
    margin: 5px;
}

.value {
    font-weight: bold;
}

.nameGuessLine {
    margin: 0px;
}

.alignVertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.submitButton {
    background-color: dodgerblue;
    color: whitesmoke;
    margin: 5px;
}